XML/assignment 2/8.dtd

<!ELEMENT Students (Student+)>
<!ELEMENT Student (Roll_no, Name, Marks, Rank)>
<!ELEMENT Roll_no (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Marks (webTechnologies, XML, J2EE, NS)>
<!ELEMENT webTechnologies (#PCDATA)>
<!ELEMENT XML (#PCDATA)>
<!ELEMENT J2EE (#PCDATA)>
<!ELEMENT NS (#PCDATA)>
<!ELEMENT Rank (#PCDATA)>
