XML/assignment2/7.dtd

<!ELEMENT Email (From, To, Content)>
<!ELEMENT From (#PCDATA)>
<!ELEMENT To (#PCDATA)>
<!ELEMENT Content (#PCDATA | Person | Exercises | Course)*>
<!ELEMENT Person (#PCDATA)>
<!ELEMENT Exercises (Exercise+)>
<!ELEMENT Exercise (Topic, Description)>
<!ELEMENT Topic (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Course (#PCDATA)>